set clipboard+=unnamed
set commentary
set surround

" delete without yanking
nnoremap <leader>d "_dd
vnoremap <leader>d "_dd

" replace currently selected text with default register
" without yanking it
" vnoremap <leader>p "_dP

" https://superuser.com/questions/321547/how-do-i-replace-paste-yanked-text-in-vim-without-yanking-the-deleted-lines
nnoremap <leader>p "0p
